.button{
    -fx-background-color : #125c25;
    -fx-background-radius : 30 30 30 30;
    -fx-text-fill : #ffffff;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-radius : 30 30 30 30;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-radius : 30 30 30 30;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #125c25;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: ##125c25;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96ffffff;
}